* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.hi {
  font-family: "Noto Sans Cuneiform";
}
.page1Name {
  font-display: "Noto Serif Japanese";
  position: relative;
}

.navText {
  font-family: "Jersey 15", serif;
}

.page2Middle {
  font-family: "Granjon Roman";
}

.list {
  columns: 20vw;
}

.list img {
  margin-bottom: 20px;
}

.show {
  color: cyan;
  font-size: 10vw;
  text-align: center;
  -webkit-text-stroke: 30px;
}

.cursor {
  height: 30px;
  width: 30px;
  background-color: red;
  border-radius: 50%;
  position: fixed;
  z-index: 10;
  transform: translate(-50%, -50%);
  transition: transform linear;
  mix-blend-mode: difference;
  pointer-events: none;
  transition: background-image ease 0.1s;
  object-fit: cover;
}

.text-div {
  height: 25px;
  overflow: hidden;
}

.elem:hover h1 {
  transform: translateY(-100%);
}
.elem:hover img {
  opacity: 1;
  pointer-events: none;
}

/*page4*/
.page4Heading {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: arial;
  background-image: url("https://i.pinimg.com/originals/1b/de/85/1bde855b1bd40f35b92ae6fc2d2173fa.gif");
  background-position: center;
  background-size: contain;
}

.page4 footer {
  font-weight: 700;
  font-family: Arial;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url("https://i.pinimg.com/originals/ab/38/f7/ab38f7ff5ee625e4c97e81f496c40b9a.gif");
  background-position: center;
  background-size: contain;
}

/*page5*/
.page5EDUCATION {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url("https://i.pinimg.com/originals/df/44/98/df4498db45287d0af69104cd267c83db.gif");
  background-size: contain;
  display: inline-block;
}

/*page6*/
.page6achivements {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url("https://i.pinimg.com/originals/64/db/fb/64dbfb279110e5730b698a752532605b.gif");
  background-position: center;
  font-family: "Jersey 15", serif;
}
